
    {% block content %}
        <br>
        <div>
            <div>
                <div>
                    <h5>Películas</h5>
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Título</th>
                            <th>Director</th>
                            <th>Año</th>
                            <th>Género</th>
                            <th>Sipnosis</th>
                            <th>votos</th>
                        </tr>
                        
                        {% for i in films %}
                            <tr>
                                <td>{{ i.title }}</td>
                                <td>{{ i.director }}</td>
                                <td>{{ i.year }}</td>
                                <td>{{ i.genero }}</td>
                                <td>{{ i.sinopsis }}</td>
                                <td>{{ i.votos }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endblock content %}
