{% include 'navegation.html' %}
        
<title>Área de películas</title>
    {% block content %}
        <br>
        <div>
            <div>
                <div>
                    <h3 align="center">Menú</h3>
                </div>
                <div>
                    <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Director</th>
                            <th scope="col">Año</th>
                            <th scope="col">Género</th>
                            <th scope="col" style="max-width: 50px">Sipnosis</th>
                            <th scope="col">votos</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in films %}
                            <tr>
                                <th scope="row">{{ i.title }}</th>
                                <td>{{ i.director }}</td>
                                <td>{{ i.year }}</td>
                                <td>{{ i.genero }}</td>
                                <td>{{ i.sinopsis }}</td>
                                <td>{{ i.votos }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                
                <div class="pagination">
                <span class="step-links">
                    {% if films.has_previous %} 
                        <a href="?page={{ films.previous_page_number }}">Anterior</a>
                    {% endif %}
            
                    <span class="current">
                        Página {{ films.number }} de {{ films.paginator.num_pages }}.
                    </span>
            
                    {% if films.has_next %}
                        <a href="?page={{ films.next_page_number }}">Siguiente</a>
                    {% endif %}
                </span>
            </div>
                </div>
            </div>
        </div>
    {% endblock content %}
