{% include 'navegation.html' %}

<title>Películas</title>
    {% block content %}
        <br>
        <div>
            <div>
                <div>
                    <h3 align="center">Películas</h3>
                </div>
                <div>
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Director</th>
                            <th scope="col">Año</th>
                            <th scope="col">Género</th>
                            <th scope="col" style="max-width: 50px">Sipnosis</th>
                            <th scope="col">votos</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in films %}
                            <tr>
                                <th scope="row">{{ i.title }}</th>
                                <td>{{ i.director }}</td>
                                <td>{{ i.year }}</td>
                                <td>{{ i.genero }}</td>
                                <td>{{ i.sinopsis }}</td>
                                <td>{{ i.votos }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock content %}
