{% include 'navegation.html' %}
<title>Área de películas</title>
{% block votar %}   

    {% load static %}
    <br>
    <h3 align="center">Vota por tu película favorita</h3>
    <br>
    <form method="post" action="{% url 'vote' %}" style="margin-left: 121px">{% csrf_token %}
        <label for="testua">Elige una película:</label>
        <select name="film">
            {% for p in Pelicula %}
                <option value="{{ p.title }}">{{ p.title }}</option>
            {% endfor %}
        </select>   
        <input type="submit" name="vote" value="Votar" />
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock votar %}