{% include 'navegation.html' %}
<title>Área de películas</title>

{% block votos %}
    {% load static %}
    <br>
    <h3 align="center">Aficionados</h3>
    <br>
    <form method="post" action="{% url 'votes' %}" style="margin-left: 121px">{% csrf_token %}
        <label for="testua">Elige una película:</label>
        <select name="film">
            {% for p in Pelicula %}
                <option value="{{ p.title }}">{{ p.title }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="vote" value="Mostrar aficionados" />
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <br>
        <table border="1" align="center">
        <thead>
            <tr>
            <th>Aficionados</th>
            </tr>
        </thead>
        <tbody>
            {% for a in Votantes %}
            <tr><td>{{ a }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    

{% endblock votos %}
