.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img {
  width: 200px;
  height: 200px;
}

.Game {
  padding-bottom: 8px
}

.Game,h1 {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}


.game__container-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%
}

.game__container-inner {
  flex: 1 1 auto;
  margin: auto;
  max-width: 550px;
  overflow: hidden;
  width: 100%
}


.Game-keyboard {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
  width: 100%
}

.Game-keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: stretch
}

.Game-keyboard-button {
  align-items: center;
  background-color: #cbd3df;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  font-size: 20px;
  justify-content: center;
  margin: 3px;
  min-height: 40px;
  text-decoration: inherit
}

.Game-keyboard-button-wide {
  flex: 2 1
}

.Game-keyboard-button:focus {
  outline: none
}
.button {
  background-color: #ffffff; /* Button background color */
  border: 2px solid #3498db; /* Button border color */
  color: #3498db; /* Button text color */
  padding: 10px 20px; /* Button padding */
  font-size: 16px; /* Button text size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Button border radius */
  transition: all 0.3s ease; /* Transition effect */
}

/* Hover effect */
.button:hover {
  background-color: #3498db; /* Button background color on hover */
  color: #ffffff; /* Button text color on hover */
}

/* Icon style */
.button-icon {
  margin-right: 5px; /* Margin between icon and text */
}


.Row-letter {
  border-radius: .25rem;
  font-size: inherit;
  height: 100%;
  margin: .125rem;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20%
}

.Row {
  box-sizing: border-box;
  display: flex;
  font-size: calc(1.8vh + 2.5px);
  font-size: var(--adaptive-font);
  height: 2.5vh;
  height: var(--adaptive-height);
  margin: .125rem;
  width: 100%
}

.Row-current {
  font-size: calc(2vh + 4px);
  font-size: var(--adaptive-font-large);
  height: 4.5vh;
  height: var(--adaptive-height-large)
}

.row_field {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: .25rem .25rem 0
}

.row__field:focus {
  outline: none
}

.game_container-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%
}

.game_container-inner {
  flex: 1 1 auto;
  margin: auto;
  max-width: 550px;
  overflow: hidden;
  width: 100%
}

.game_boards {
  width: 100%
}

.game_boards-row {
  display: flex;
  width: 100%
}

.Game-options {
  display: flex;
  justify-content: right;
  margin: 0 auto;
  max-width: 350px;
  min-height: 42px;
  padding: 4px
}

.Game-options-playing {
  justify-content: space-between
}

.Game-options .App-button {
  height: 27px;
  margin: 4px 3px 0;
  min-height: 0
}

.App-button-marked {
  background-color: #ae525230;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 11px;
  padding: 4px 18px;
  text-align: center;
  white-space: nowrap
}

.App-button {
  align-items: center;
  background: #52ae9030;
  border: none;
  border-radius: 30px;
  color: #626568;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: 20px;
  margin: 3px;
  min-height: 35px;
  padding: 4px 14px
}

body.dark .App-button {
  background: #61d9b2cc
}

.App-button:hover {
  background: #5277ae30;
  color: #626568
}

body.dark .App-button:hover {
  background: #79a6e9db
}

.App-button:disabled {
  background-color: #3e485730;
  color: #8c8e91
}

.Game-challenge-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3px;
  min-height: 18px
}

.Game-challenge-bar button {
  width: 340px
}